@tailwind components;

html,
body{
    background-color: #E9ECEF;
}

body {
    margin: 0;
}

.content{
    background-color: #ffffff;
}

.p-menuitem-text {
    color:#7DA653;
}

.p-menuitem-link:hover {
    background-color: #C8E270 !important;

}

.p-menuitem.p-focus a {
    background-color: #C8E270 !important;
}



@media screen and (max-width: 960px) {
    .p-menubar  {
    display: flex;
    justify-content: space-between;
    }
    .p-menubar-root-list{
        background: #ffffff;
    }

}

.p-menubar {
    z-index: 5;
}

.menubarAnimacao{
    animation: escorreMenu 1s;
    animation-fill-mode: forwards;
}

@keyframes escorreMenu {
    from {top: -81px;}
    to {top: 0px;}
}