@tailwind components;

html,
body{
    background-color: #E9ECEF;
}

body {
    margin: 0;
}

.content{
    background-color: #ffffff;
}

.p-menuitem-text {
    color: white;
}

.p-menuitem-link:hover {
    background-color: #7DA653 !important;
}

.p-focus {
    background-color: #7DA653 !important;
}



@media screen and (max-width: 960px) {
    .p-menubar .p-menubar-root-list {
    background: #C8E270;
    }
}

.p-menubar {
    z-index: 1;
    position: fixed;

}